vaadin-scroller[slot="drawer"] {
    padding: var(--lumo-space-s);
}

vaadin-side-nav-item vaadin-icon {
    padding: 0;
}

[slot="drawer"]:is(header, footer) {
    display: flex;
    align-items: center;
    gap: var(--lumo-space-s);
    padding: var(--lumo-space-s) var(--lumo-space-m);
    min-height: var(--lumo-size-xl);
    box-sizing: border-box;
}

[slot="drawer"]:is(header, footer):is(:empty) {
    display: none;
}

.img {
    height: 500px;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    height: auto;
}

.mensaje-ayuda {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 20px;
    width: 60%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    text-align: justify;
}

.mensaje-ayuda h2 {
    color: #333;
    margin-bottom: 10px;
}

.mensaje-ayuda p {
    color: #555;
    margin-bottom: 15px;
}

.mensaje-ayuda img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}


